<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alfa Meanswear | About Us</title>
    <meta name="robots" content="noindex">
    <%- include('includes/head') %>
</head>

<body>
    <div class="alfa-main-wraper">
        <%- include('includes/header') %>
        
        <div class="mt-100 mt-700">
          <div class="product-banner">
              <div class="container">
                  <div class="hero-product-rows">
                      <div class="product-col-6">
                          <div class="breadcrubm-text">
                              <h2>About Us</h2>
                          </div>
                      </div>
                   </div>
              </div>
            </div>
          <!-- Start -->
          <section class="mt-80" style="margin-bottom:145px;">
              <div class="product-wrapper">
                  <div class="container">
                      <div class="row">
                          <div class="about-title text-center">
                              <h1>
                                  Our Mission
                              </h1>
                          </div>
                          <div class="about-content">
                              <p>At Alfa, our mission is to empower men with confidence and style through exceptional clothing and unparalleled service. We are dedicated to offering a curated selection of high-quality menswear that combines timeless elegance with contemporary trends. Our commitment is to provide a personalised shopping experience that caters to the unique tastes and needs of every customer. We strive to be more than just a clothing store; we aim to be a destination where men can discover their best selves, express their individuality, and feel their absolute best.
Simple- We aim to make choosing your  garments as easy as possible Quality At Alfa, quality is at the heart of everything we do. We only deal with suppliers who share our passion for excellence and adhere to the highest standards of craftsmanship. Our rigorous selection process ensures that every piece of clothing we offer meets our strict criteria for durability, comfort, and style.
When you shop with Alfa, you can be assured that you are investing in clothing that stands the test of time, both in terms of fashion and longevity. Thank you for trusting us to deliver the quality you deserve.
Value we believe that exceptional style and quality should be accessible to everyone. Our pricing aims to be competitive, ensuring that you receive the best value for your investment. We meticulously curate our collection to offer high-quality menswear at prices that reflect both the craftsmanship and the materials used, without compromising on style or integrity.
We understand that value is not just about the cost, but also about the experience and satisfaction of our customers. By maintaining strong relationships with our suppliers and focusing on efficient operations, we are able to pass on savings to you while upholding the high standards you expect.
</p>
                          </div>
                          <div class="about-image text-center">
                              <img src="https://alfa-menswear.com/about_us_images/1719503510169.png" width="100%" alt="">
                          </div>
                      </div>
                  </div>
                  <div class="top-points-wrapper">
                      <div class="container mx-auto">
                          <div class="row" style="justify-content: center;">
                              <div class="col-md-4 d-none">
                                  <div class="about-item">
                                      <div class="about-item-img">
                                          <img src="https://alfa-menswear.com/about_us_images/1719503372605.png" alt="">
                                      </div>
                                      <div class="about-item-t">
                                          <h2>  </h2>
                                      </div>
                                      <div class="about-item-content">
                                          or county now sister engage had season better had waited. Occasional mrs interested far expression.At Alfa Menswear, we believe in empowering men to express their individuality and confidence through timeless and contemporary styles. Our curated selection ensures you always look and feel your absolute best.
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="about-item">
                                      <div class="about-item-img">
                                          <img src="https://alfa-menswear.com/about_us_images/1719503372605.png" alt="">
                                      </div>
                                      <div class="about-item-t">
                                          <h2> Unmatched Quality</h2>
                                      </div>
                                      <div class="about-item-content">
                                          Quality is at the heart of everything we do. We partner with suppliers who share our passion for excellence, ensuring that every piece of clothing we offer is crafted to the highest standards of durability, comfort, and style.
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="about-item">
                                      <div class="about-item-img">
                                          <img src="https://alfa-menswear.com/about_us_images/1719503372606.png" alt="">
                                      </div>
                                      <div class="about-item-t">
                                          <h2> Exceptional Value</h2>
                                      </div>
                                      <div class="about-item-content">
                                          Style and quality should be accessible to everyone. Our competitive pricing reflects our commitment to providing high-quality menswear without compromising on craftsmanship, ensuring you receive the best value for your investment.
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="container d-none">
                      <div class="about-2-wrapper">
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="about-image">
                                      <img src="../about_us_images/1719503535224.png" width="100%" alt="">
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="about-2-content">
                                      <div class="about2">
                                          <h2>Message from the CEO</h2>
                                      </div>
                                      <div class="about-para">
                                        <p>
                                          At Alfa, our mission is to empower men with confidence and style through exceptional clothing and unparalleled service. We are dedicated to offering a curated selection of high-quality menswear that combines timeless elegance with contemporary trends. Our commitment is to provide a personalised shopping experience that caters to the unique tastes and needs of every customer. We strive to be more than just a clothing store; we aim to be a destination where men can discover their best selves, express their individuality, and feel their absolute best.
                                          Simple- We aim to make choosing your  garments as easy as possible Quality At Alfa, quality is at the heart of everything we do. We only deal with suppliers who share our passion for excellence and adhere to the highest standards of craftsmanship. Our rigorous selection process ensures that every piece of clothing we offer meets our strict criteria for durability, comfort, and style.
                                          When you shop with Alfa, you can be assured that you are investing in clothing that stands the test of time, both in terms of fashion and longevity. Thank you for trusting us to deliver the quality you deserve.
                                          Value we believe that exceptional style and quality should be accessible to everyone. Our pricing aims to be competitive, ensuring that you receive the best value for your investment. We meticulously curate our collection to offer high-quality menswear at prices that reflect both the craftsmanship and the materials used, without compromising on style or integrity.
                                          We understand that value is not just about the cost, but also about the experience and satisfaction of our customers. By maintaining strong relationships with our suppliers and focusing on efficient operations, we can savings to you while upholding the high standards you expect.
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- TESTIMONIAL -->
                  <section class="mt-80">
                      <div class="container">
                        <div id="testimonial-carousel" class="alfa-testimonila owl-carousel comman-nav owl-loaded owl-drag">
                            
                        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2744px, 0px, 0px); transition: 0.25s; width: 5145px;"><div class="owl-item cloned" style="width: 323px; margin-right: 20px;"><div class="testimonial-warpper">
                            <div class="test-quotes">
                              <img src="assets/images/quotes.png" class="quotes-img" alt="">
                            </div>
                            <div class="testimonial-content">
                              <p>
                                Jeremy and the team were very helpful and approachable while helping pick out a gift for my husband. Great quality shirts!
                              </p>
                              <div class="testimonial-details">
                                <div class="test-image">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 20 20">
                                    <path fill="#005d67" d="M18 0H2a2 2 0 0 0-2 2v18l4-4h14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m-4 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 14 4M6 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 6 4m4 8c-2.61 0-4.83-.67-5.65-3h11.3c-.82 2.33-3.04 3-5.65 3"></path>
                                  </svg>
                                </div>
                                <div class="test-d-wrap">
                                  <div class="test-name">
                                    <h5 class="name">Lisa Reid</h5>
                                    <h6 class="designation">Happy Customer</h6>
                                  </div>
                                  <ul class="testimonial-rating">
                                    <li>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div></div><div class="owl-item cloned" style="width: 323px; margin-right: 20px;"><div class="testimonial-warpper">
                            <div class="test-quotes">
                              <img src="assets/images/quotes.png" class="quotes-img" alt="">
                            </div>
                            <div class="testimonial-content">
                              <p>
                                My shopping experience at Alfa Menswear was made exceptional, all thanks to Jeremy. I had visited Moss Bro before and was let down by their service but at Alfa I felt like they actually care. 5 Star!
                                Highly recommend and will be back for sure!
                                Cheers,
                                Marcus
                              </p>
                              <div class="testimonial-details">
                                <div class="test-image">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 20 20">
                                    <path fill="#005d67" d="M18 0H2a2 2 0 0 0-2 2v18l4-4h14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m-4 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 14 4M6 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 6 4m4 8c-2.61 0-4.83-.67-5.65-3h11.3c-.82 2.33-3.04 3-5.65 3"></path>
                                  </svg>
                                </div>
                                <div class="test-d-wrap">
                                  <div class="test-name">
                                    <h5 class="name">Marcus Adam Hook (HLS Film Productions)</h5>
                                    <h6 class="designation">Happy Customer</h6>
                                  </div>
                                  <ul class="testimonial-rating">
                                    <li>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div></div><div class="owl-item cloned" style="width: 323px; margin-right: 20px;"><div class="testimonial-warpper">
                            <div class="test-quotes">
                              <img src="assets/images/quotes.png" class="quotes-img" alt="">
                            </div>
                            <div class="testimonial-content">
                              <p>
                                Went in today to buy a dress shirt, great customer service, great price too, unlike the service from moss bros  next door in Bournemouth. Highly recommended 👌
                              </p>
                              <div class="testimonial-details">
                                <div class="test-image">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 20 20">
                                    <path fill="#005d67" d="M18 0H2a2 2 0 0 0-2 2v18l4-4h14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m-4 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 14 4M6 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 6 4m4 8c-2.61 0-4.83-.67-5.65-3h11.3c-.82 2.33-3.04 3-5.65 3"></path>
                                  </svg>
                                </div>
                                <div class="test-d-wrap">
                                  <div class="test-name">
                                    <h5 class="name">Steve Trott</h5>
                                    <h6 class="designation">Happy Customer</h6>
                                  </div>
                                  <ul class="testimonial-rating">
                                    <li>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div></div><div class="owl-item cloned" style="width: 323px; margin-right: 20px;"><div class="testimonial-warpper">
                            <div class="test-quotes">
                              <img src="assets/images/quotes.png" class="quotes-img" alt="">
                            </div>
                            <div class="testimonial-content">
                              <p>
                                Lovely gentlemen, Beautiful suits,great prices and definitely knew what looks good. Knew what we wanted before we did!! 100 recommend
                              </p>
                              <div class="testimonial-details">
                                <div class="test-image">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 20 20">
                                    <path fill="#005d67" d="M18 0H2a2 2 0 0 0-2 2v18l4-4h14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m-4 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 14 4M6 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 6 4m4 8c-2.61 0-4.83-.67-5.65-3h11.3c-.82 2.33-3.04 3-5.65 3"></path>
                                  </svg>
                                </div>
                                <div class="test-d-wrap">
                                  <div class="test-name">
                                    <h5 class="name">Kerry Witherow</h5>
                                    <h6 class="designation">Happy Customer</h6>
                                  </div>
                                  <ul class="testimonial-rating">
                                    <li>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div></div><div class="owl-item" style="width: 323px; margin-right: 20px;"><div class="testimonial-warpper">
                            <div class="test-quotes">
                              <img src="assets/images/quotes.png" class="quotes-img" alt="">
                            </div>
                            <div class="testimonial-content">
                              <p>
                                Fabulous menswear shop on Westover Road in Bournemouth that has been trading for over 40 years and now under new Management since September 2023. I have met the new owner Jeremy who is so enthusiastic and their clothes ranges are worth seeing, from smart suits, waistcoats to vibrant colour shirts, shoes and more. Well worth a visit to see the quality of the clothing they produce and sell.
                              </p>
                              <div class="testimonial-details">
                                <div class="test-image">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 20 20">
                                    <path fill="#005d67" d="M18 0H2a2 2 0 0 0-2 2v18l4-4h14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m-4 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 14 4M6 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 6 4m4 8c-2.61 0-4.83-.67-5.65-3h11.3c-.82 2.33-3.04 3-5.65 3"></path>
                                  </svg>
                                </div>
                                <div class="test-d-wrap">
                                  <div class="test-name">
                                    <h5 class="name">steve mac</h5>
                                    <h6 class="designation">Happy Customer</h6>
                                  </div>
                                  <ul class="testimonial-rating">
                                    <li>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div></div><div class="owl-item" style="width: 323px; margin-right: 20px;"><div class="testimonial-warpper">
                            <div class="test-quotes">
                              <img src="assets/images/quotes.png" class="quotes-img" alt="">
                            </div>
                            <div class="testimonial-content">
                              <p>
                                If I could give more than 5 stars I would. Jeremy and the team have been absolutely fantastic sorting suits out for me and my groomsmen. They were always so friendly, knowledgeable and it's such a lovely shop to be in. Would highly recommend.
                              </p>
                              <div class="testimonial-details">
                                <div class="test-image">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 20 20">
                                    <path fill="#005d67" d="M18 0H2a2 2 0 0 0-2 2v18l4-4h14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m-4 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 14 4M6 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 6 4m4 8c-2.61 0-4.83-.67-5.65-3h11.3c-.82 2.33-3.04 3-5.65 3"></path>
                                  </svg>
                                </div>
                                <div class="test-d-wrap">
                                  <div class="test-name">
                                    <h5 class="name">Ben Tricksey</h5>
                                    <h6 class="designation">Happy Customer</h6>
                                  </div>
                                  <ul class="testimonial-rating">
                                    <li>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div></div><div class="owl-item" style="width: 323px; margin-right: 20px;"><div class="testimonial-warpper">
                            <div class="test-quotes">
                              <img src="assets/images/quotes.png" class="quotes-img" alt="">
                            </div>
                            <div class="testimonial-content">
                              <p>
                                I recently bought two suits from Alfa Menswear for work and I would very much recommend the quality and style to anyone. Jess served me and was very helpful - I’ll be back again soon for sure 
                              </p>
                              <div class="testimonial-details">
                                <div class="test-image">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 20 20">
                                    <path fill="#005d67" d="M18 0H2a2 2 0 0 0-2 2v18l4-4h14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m-4 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 14 4M6 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 6 4m4 8c-2.61 0-4.83-.67-5.65-3h11.3c-.82 2.33-3.04 3-5.65 3"></path>
                                  </svg>
                                </div>
                                <div class="test-d-wrap">
                                  <div class="test-name">
                                    <h5 class="name">Tom Woodley</h5>
                                    <h6 class="designation">Happy Customer</h6>
                                  </div>
                                  <ul class="testimonial-rating">
                                    <li>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div></div><div class="owl-item" style="width: 323px; margin-right: 20px;"><div class="testimonial-warpper">
                            <div class="test-quotes">
                              <img src="assets/images/quotes.png" class="quotes-img" alt="">
                            </div>
                            <div class="testimonial-content">
                              <p>
                                Jeremy and the team were very helpful and approachable while helping pick out a gift for my husband. Great quality shirts!
                              </p>
                              <div class="testimonial-details">
                                <div class="test-image">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 20 20">
                                    <path fill="#005d67" d="M18 0H2a2 2 0 0 0-2 2v18l4-4h14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m-4 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 14 4M6 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 6 4m4 8c-2.61 0-4.83-.67-5.65-3h11.3c-.82 2.33-3.04 3-5.65 3"></path>
                                  </svg>
                                </div>
                                <div class="test-d-wrap">
                                  <div class="test-name">
                                    <h5 class="name">Lisa Reid</h5>
                                    <h6 class="designation">Happy Customer</h6>
                                  </div>
                                  <ul class="testimonial-rating">
                                    <li>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div></div><div class="owl-item active" style="width: 323px; margin-right: 20px;"><div class="testimonial-warpper">
                            <div class="test-quotes">
                              <img src="assets/images/quotes.png" class="quotes-img" alt="">
                            </div>
                            <div class="testimonial-content">
                              <p>
                                My shopping experience at Alfa Menswear was made exceptional, all thanks to Jeremy. I had visited Moss Bro before and was let down by their service but at Alfa I felt like they actually care. 5 Star!
                                Highly recommend and will be back for sure!
                                Cheers,
                                Marcus
                              </p>
                              <div class="testimonial-details">
                                <div class="test-image">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 20 20">
                                    <path fill="#005d67" d="M18 0H2a2 2 0 0 0-2 2v18l4-4h14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m-4 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 14 4M6 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 6 4m4 8c-2.61 0-4.83-.67-5.65-3h11.3c-.82 2.33-3.04 3-5.65 3"></path>
                                  </svg>
                                </div>
                                <div class="test-d-wrap">
                                  <div class="test-name">
                                    <h5 class="name">Marcus Adam Hook (HLS Film Productions)</h5>
                                    <h6 class="designation">Happy Customer</h6>
                                  </div>
                                  <ul class="testimonial-rating">
                                    <li>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div></div><div class="owl-item" style="width: 323px; margin-right: 20px;"><div class="testimonial-warpper">
                            <div class="test-quotes">
                              <img src="assets/images/quotes.png" class="quotes-img" alt="">
                            </div>
                            <div class="testimonial-content">
                              <p>
                                Went in today to buy a dress shirt, great customer service, great price too, unlike the service from moss bros  next door in Bournemouth. Highly recommended 👌
                              </p>
                              <div class="testimonial-details">
                                <div class="test-image">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 20 20">
                                    <path fill="#005d67" d="M18 0H2a2 2 0 0 0-2 2v18l4-4h14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m-4 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 14 4M6 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 6 4m4 8c-2.61 0-4.83-.67-5.65-3h11.3c-.82 2.33-3.04 3-5.65 3"></path>
                                  </svg>
                                </div>
                                <div class="test-d-wrap">
                                  <div class="test-name">
                                    <h5 class="name">Steve Trott</h5>
                                    <h6 class="designation">Happy Customer</h6>
                                  </div>
                                  <ul class="testimonial-rating">
                                    <li>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div></div><div class="owl-item" style="width: 323px; margin-right: 20px;"><div class="testimonial-warpper">
                            <div class="test-quotes">
                              <img src="assets/images/quotes.png" class="quotes-img" alt="">
                            </div>
                            <div class="testimonial-content">
                              <p>
                                Lovely gentlemen, Beautiful suits,great prices and definitely knew what looks good. Knew what we wanted before we did!! 100 recommend
                              </p>
                              <div class="testimonial-details">
                                <div class="test-image">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 20 20">
                                    <path fill="#005d67" d="M18 0H2a2 2 0 0 0-2 2v18l4-4h14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m-4 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 14 4M6 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 6 4m4 8c-2.61 0-4.83-.67-5.65-3h11.3c-.82 2.33-3.04 3-5.65 3"></path>
                                  </svg>
                                </div>
                                <div class="test-d-wrap">
                                  <div class="test-name">
                                    <h5 class="name">Kerry Witherow</h5>
                                    <h6 class="designation">Happy Customer</h6>
                                  </div>
                                  <ul class="testimonial-rating">
                                    <li>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div></div><div class="owl-item cloned" style="width: 323px; margin-right: 20px;"><div class="testimonial-warpper">
                            <div class="test-quotes">
                              <img src="assets/images/quotes.png" class="quotes-img" alt="">
                            </div>
                            <div class="testimonial-content">
                              <p>
                                Fabulous menswear shop on Westover Road in Bournemouth that has been trading for over 40 years and now under new Management since September 2023. I have met the new owner Jeremy who is so enthusiastic and their clothes ranges are worth seeing, from smart suits, waistcoats to vibrant colour shirts, shoes and more. Well worth a visit to see the quality of the clothing they produce and sell.
                              </p>
                              <div class="testimonial-details">
                                <div class="test-image">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 20 20">
                                    <path fill="#005d67" d="M18 0H2a2 2 0 0 0-2 2v18l4-4h14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m-4 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 14 4M6 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 6 4m4 8c-2.61 0-4.83-.67-5.65-3h11.3c-.82 2.33-3.04 3-5.65 3"></path>
                                  </svg>
                                </div>
                                <div class="test-d-wrap">
                                  <div class="test-name">
                                    <h5 class="name">steve mac</h5>
                                    <h6 class="designation">Happy Customer</h6>
                                  </div>
                                  <ul class="testimonial-rating">
                                    <li>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div></div><div class="owl-item cloned" style="width: 323px; margin-right: 20px;"><div class="testimonial-warpper">
                            <div class="test-quotes">
                              <img src="assets/images/quotes.png" class="quotes-img" alt="">
                            </div>
                            <div class="testimonial-content">
                              <p>
                                If I could give more than 5 stars I would. Jeremy and the team have been absolutely fantastic sorting suits out for me and my groomsmen. They were always so friendly, knowledgeable and it's such a lovely shop to be in. Would highly recommend.
                              </p>
                              <div class="testimonial-details">
                                <div class="test-image">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 20 20">
                                    <path fill="#005d67" d="M18 0H2a2 2 0 0 0-2 2v18l4-4h14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m-4 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 14 4M6 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 6 4m4 8c-2.61 0-4.83-.67-5.65-3h11.3c-.82 2.33-3.04 3-5.65 3"></path>
                                  </svg>
                                </div>
                                <div class="test-d-wrap">
                                  <div class="test-name">
                                    <h5 class="name">Ben Tricksey</h5>
                                    <h6 class="designation">Happy Customer</h6>
                                  </div>
                                  <ul class="testimonial-rating">
                                    <li>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div></div><div class="owl-item cloned" style="width: 323px; margin-right: 20px;"><div class="testimonial-warpper">
                            <div class="test-quotes">
                              <img src="assets/images/quotes.png" class="quotes-img" alt="">
                            </div>
                            <div class="testimonial-content">
                              <p>
                                I recently bought two suits from Alfa Menswear for work and I would very much recommend the quality and style to anyone. Jess served me and was very helpful - I’ll be back again soon for sure 
                              </p>
                              <div class="testimonial-details">
                                <div class="test-image">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 20 20">
                                    <path fill="#005d67" d="M18 0H2a2 2 0 0 0-2 2v18l4-4h14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m-4 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 14 4M6 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 6 4m4 8c-2.61 0-4.83-.67-5.65-3h11.3c-.82 2.33-3.04 3-5.65 3"></path>
                                  </svg>
                                </div>
                                <div class="test-d-wrap">
                                  <div class="test-name">
                                    <h5 class="name">Tom Woodley</h5>
                                    <h6 class="designation">Happy Customer</h6>
                                  </div>
                                  <ul class="testimonial-rating">
                                    <li>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div></div><div class="owl-item cloned" style="width: 323px; margin-right: 20px;"><div class="testimonial-warpper">
                            <div class="test-quotes">
                              <img src="assets/images/quotes.png" class="quotes-img" alt="">
                            </div>
                            <div class="testimonial-content">
                              <p>
                                Jeremy and the team were very helpful and approachable while helping pick out a gift for my husband. Great quality shirts!
                              </p>
                              <div class="testimonial-details">
                                <div class="test-image">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 20 20">
                                    <path fill="#005d67" d="M18 0H2a2 2 0 0 0-2 2v18l4-4h14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m-4 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 14 4M6 4a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 6 4m4 8c-2.61 0-4.83-.67-5.65-3h11.3c-.82 2.33-3.04 3-5.65 3"></path>
                                  </svg>
                                </div>
                                <div class="test-d-wrap">
                                  <div class="test-name">
                                    <h5 class="name">Lisa Reid</h5>
                                    <h6 class="designation">Happy Customer</h6>
                                  </div>
                                  <ul class="testimonial-rating">
                                    <li>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                      <a href=""><img src="assets/images/star.png" class="star-icon" alt=""></a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                           
                      </div>
                    </section>
                  <!-- END -->
              </div>
          </section>
          <!-- End -->


      </div>

            <!-- Footer -->
            <%- include('includes/footer') %>
                <!-- End -->
    </div>
    <%- include('includes/foot') %>
</body>

</html>