<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alfa Meanswear | Add Address</title>
    <meta name="robots" content="noindex">
    <%- include('includes/head') %>
</head>

<body>
    <div class="alfa-main-wraper">
        <%- include('includes/header') %>
        
        <div class="mt-100 mt-150">
            <div class="container margin-160">
                <div class="row">

                    <div class="address-wrapper">
                        <div class="address-form">
                            <form action="add-address" method="post">
                                        <div class="row">
                                            <div class="address-form-title">
                                                <h4>Contact Details</h4>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="address-form-group">
                                                    <label for="Name" class="address-label">Name*</label>
                                                    <input type="text" name="full_name" value="" class="address-input" placeholder="Enter Name">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="addres-row">
                                                    <div class="ad-md-3">
                                                        <div class="address-form-group position-relative">
                                                            <span class="alfa-uk-flag"><img src="assets/images/ukflag.png" alt=""></span>
                                                            <input type="text" value="+44" readonly="" name="mb" class="address-input mobile-input">
                                                        </div>
                                                    </div>
                                                    <div class="ad-md-9">
                                                        <div class="address-form-group">
                                                            <label for="Name" class="address-label">Phone
                                                                Number*</label>
                                                            <input type="text" name="mobile"  class="address-input" placeholder="Enter Phone">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="address-form-group">
                                                    <label for="Name" class="address-label">Email Address*</label>
                                                    <input type="text" name="email" class="address-input" placeholder="Enter Email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="address-form-title">
                                                <h4>Address</h4>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="address-form-group">
                                                    <label for="Name" class="address-label">Post Code*</label>
                                                    <input type="text" name="postcode" class="address-input" placeholder="Post Code ">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="address-form-group">
                                                    <label for="Name" class="address-label">Address 1*</label>
                                                    <input type="text" name="address" class="address-input" placeholder="Enter Address 2">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="address-form-group">
                                                    <label for="Name" class="address-label">Address 2*</label>
                                                    <input type="text" name="address_2" class="address-input" placeholder="Enter Address 2">
                                                </div>
                                            </div>
                                             <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="address-form-group">
                                                            <label for="Name" class="address-label">City*</label>
                                                            <input type="text" name="city" class="address-input" placeholder="Enter City">
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-12">
                                            <div class="billing-type">
                                                <h5>Save Address as</h5>
                                            </div>
                                            
                                                <div class="address-radio-flex">
                                                    <div class="input-radio">
                                                        <input type="radio" class="radio-input" id="radio1" name="address_type" value="Personal">
                                                        <label for="radio1">Personal</label>
                                                    </div>
                                                    <div class="input-radio">
                                                        <input type="radio" class="radio-input" id="radio2" name="address_type" value="Commercial">
                                                        <label for="radio2">Commercial</label>
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="col-md-12 mt-4">
                                            <div class="address-form-group">
                                                <input type="checkbox" name="checkbox" class="checkbox-inputs">
                                                <label for="Name" class="address-checkbox-label" style="color: #000;">Make this my default address</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-5">
                                            <div class="add-address-button">
                                                <button class="address-btn">Change</button>
                                                <button class="address-btn address-black">
                                                    Submit
                                                </button>
                                            </div>
                                        </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <!-- Footer -->
            <%- include('includes/footer') %>
                <!-- End -->
    </div>
    <%- include('includes/foot') %>
</body>

</html>