<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alfa Meanswear | Contact Us</title>
    <%- include('includes/head') %>
</head>

<body>
    <div class="alfa-main-wraper">
        <%- include('includes/header') %>
        
        <div class="mt-100 mt-700">
            <div class="product-banner">
                <div class="container">
                    <div class="hero-product-rows">
                        <div class="product-col-6">
                            <div class="breadcrubm-text">
                                <h2>Contact Us</h2>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="checkout-wrapper margin-160 margin-190">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="contact-info">
                                <div class="checkout-title">
                                    <h2>Contact Info</h2>
                                    <p>Let’s get in touch. We’re here to help!</p>
                                </div>
                                <ul class="contact-ul">
                                    <li><span class="c-span"><i class="fa-solid fa-phone"></i>
                                        </span> +44 1202 292 895
                                    </li>
                                    <li><span class="c-span"><i class="fa-regular fa-envelope"></i></span>
                                        info@alfamenswear.com
                                    </li>
                                    <li><span class="c-span"><i class="fa-solid fa-location-dot"></i></span>
                                        Alfa Menswear, 33 Westover Road, Bournemouth, Dorset, BH12BZ, United
Kingdom
                                    </li>
                                </ul>
                                <div class="footer-social-media">
                                    <div class="checkout-title">
                                        <h3>More Ways to Get in Touch</h3>
                                    </div>
                                    <ul class="comman-ul contact-media-ul">
                                        <li><a href="#"><span class="social-icon contact-icon"></span><i class="fa-brands fa-instagram social-icon-f"></i></a></li>
                                        <li><a href="#"><span class="social-icon contact-icon"></span><i class="fa-brands fa-facebook social-icon-f"></i></a></li>
                                        
                                    </ul>
                                    <div>
                                        <p style="font-size: 13px;">Stay ahead with the latest product updates, announcements, news, and amazing content. Follow us on our social media channels!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="contact-us-wrapper">
                                <div class="checkout-title ">
                                    <h2>Get In Touch With Us</h2>
                                    <p>If you wish to directly reach us, Please fill out the form below.</p>
                                </div>
                                <div class="contact-form-wrapper">
                                    <form action="get-in-touch-with-us" method="post">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group contact-form-group">
                                                    <label for="Name">Full Name</label>
                                                    <input type="text" name="name" class="form-control contact-form-control" placeholder="Enter Full Name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group contact-form-group">
                                                    <label for="Email">Email ID</label>
                                                    <input type="text" name="email" class="form-control contact-form-control" placeholder="Enter Email ID">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group contact-form-group">
                                                    <label for="Email">Contact</label>
                                                    <input type="text" name="contact" class="form-control contact-form-control" placeholder="Enter Contact">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group contact-form-group">
                                                    <label for="Name">Subject</label>
                                                    <input type="text" name="subject" class="form-control contact-form-control" placeholder="Enter Subject">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group contact-form-group">
                                                    <label for="Name">Message</label>
                                                    <textarea name="message" id="" class="form-control contact-form-control" style="height: 150px;" placeholder="Enter Message"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="contact-submit">
                                                <button class="wishlist-btn submit-btn w-25">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
            <!-- Footer -->
            <%- include('includes/footer') %>
                <!-- End -->
    </div>
    <%- include('includes/foot') %>
</body>

</html>