<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alfa Meanswear | Cookie Policy</title>
    <%- include('includes/head') %>
</head>

<body>
    <div class="alfa-main-wraper">
        <%- include('includes/header') %>
        
        <div class="mt-100 mt-700">
            <div class="product-banner">
                <div class="container">
                    <div class="hero-product-rows">
                        <div class="product-col-6">
                            <div class="breadcrubm-text">
                                <h2>Cookies policy </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start -->
            <section class="mt-80" style="margin-bottom:145px;">
                <div class="privacy-policy-content">
                    <div class="container">
                        <div class="policy-content">
                            
                            <div class="alfa-mt">
                                <h5>1. Introduction</h5>
                                 <p>
                                    This Cookies Policy explains how Alfa Menswear uses cookies and similar technologies on our website, <a href="">www.alfa-menswear.com</a> (the “Website”). By using the Website, you consent to the use of cookies in accordance with this policy.
                                 </p>
                            </div>
                            <div class="alfa-mt">
                                <h5>2. What Are Cookies?</h5>
                                 <p>Cookies are small text files that are placed on your computer or mobile device when you visit a website. They help improve your experience by remembering your preferences and interactions. There are different types of cookies with various purposes.</p>
                            </div>
                            <div class="alfa-mt">
                                <h5>3. Types of Cookies We Use</h5>
                                <ul>
                                    <li><strong>Essential Cookies</strong>: These cookies are necessary for the website to function properly. They enable basic functions like page navigation and access to secure areas of the website. The website cannot function properly without these cookies.</li>
                                    <li><strong>Performance Cookies </strong>: These cookies collect information about how you use our website, such as which pages you visit most often and if you receive error messages. They help us understand and improve how our website performs.</li>
                                    <li><strong>Functional Cookies</strong>:These cookies allow the website to remember choices you make (such as your username, language, or the region you are in) and provide enhanced, more personal features.</li>
                                    <li><strong>Functional Cookies</strong>: These cookies allow the website to remember choices you make (such as your username, language, or the region you are in) and provide enhanced, more personal features.</li>
                                    <li><strong>Targeting/Advertising Cookies</strong>: These cookies are used to deliver advertisements more relevant to you and your interests. They remember that you have visited a website and this information is shared with other organizations such as advertisers.</li>
                                </ul>
                            </div>
                            <div class="alfa-mt">
                                <h5>4. How We Use Cookies</h5>
                                <p>We use cookies to:</p>
                                <ul>
                                    <li>Improve the functionality and performance of our website.</li>
                                    <li>Enhance your user experience by remembering your preferences.</li>
                                    <li>Analyze how our website is being used and optimize it for better performance.</li>
                                    <li>Provide you with relevant content and advertisements.</li>
                                </ul>
                            </div>
                            <div class="alfa-mt">
                                <h5>5. Third-Party Cookies</h5>
                                <p>We may also use third-party cookies provided by trusted third parties. These cookies help us to:</p>
                                 <ul>
                                     <li>Analyze web traffic and user behavior through services such as Google Analytics.</li>
                                     <li>Provide advertisements and marketing messages through partners like Google Ads.</li>
                                 </ul>
                             </div>
                            <div class="alfa-mt">
                                <h5>6. Managing Cookies</h5>
                                <p>You can manage your cookie preferences through your web browser settings. Most browsers allow you to:</p>
                                <ul>
                                    <li>You can manage your cookie preferences through your web browser settings. Most browsers allow you to:</li>
                                    <li>Block third-party cookies.</li>
                                    <li>Block cookies from particular sites.</li>
                                    <li>Block all cookies from being set.</li>
                                    <li>Delete all cookies when you close your browser.</li>
                                </ul>
                                <p>Please note that if you disable or refuse cookies, some parts of the Website may become inaccessible or not function properly.</p>
                            </div>
                            <div class="alfa-mt">
                                <h5>7. Your Rights</h5>
                                 <p>Under UK data protection law, you have the right to:</p>
                                 <ul>
                                    <li>Access your personal data held by us.</li>
                                    <li>Request correction of any incorrect or incomplete data.</li>
                                    <li>Request deletion of your personal data.</li>
                                    <li>Object to the processing of your personal data.</li>
                                    <li>Request the restriction of processing your personal data.</li>
                                    <li>Request the transfer of your personal data to another party.</li>
                                 </ul>
                            </div>
                            <div class="alfa-mt">
                                <h5>8. Changes to This Cookies Policy</h5>
                                 <p>We may update this Cookies Policy from time to time to reflect changes in our practices or for other operational, legal, or regulatory reasons. We will notify you of any significant changes by posting the new policy on our website.</p>
                            </div>
                            <div class="alfa-mt">
                                <h5>9. Contact Us</h5>
                                <p>If you have any questions about this Cookies Policy, please contact us at:</p>
                                <p>Email: <a href="mailto:sales@alfa-menswear.com" style="color: #000;">sales@alfa-menswear.com</a></p>
                                <p>Address: Alfa Menswear, 33 Westover Road, Bournemouth, Dorset, BH12BZ, United Kingdom</p>
                                <p>By using our Website, you acknowledge that you have read and understood this Cookies Policy and agree to its terms.</p>
                            </div>
                        </div>
                    </div>
            </div></section>
            <!-- End -->


        </div>
       
            <!-- Footer -->
            <%- include('includes/footer') %>
                <!-- End -->
    </div>
    <%- include('includes/foot') %>
</body>

</html>