<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alfa | Forget Password</title>
    <%- include('includes/head') %>
</head>

<body>
    <div class="alfa-main-wraper">
        <div class="mt-1000">
            <div class="user-password-steps">
                <div class="alfa-user-wrap">
                    <div class="user-back">
                        <a onclick="window.history.back()"><img src="assets/images/back.png" alt=""></a>
                    </div>
                </div>
                <div class="alfa-pass-container">
                    <div class="password-wrap">
                        <% if (typeof message !=='undefined' ) { %>
                            <h5 class="text-danger text-center">
                                <%= message %>
                            </h5>
                            <% } %>
                                <div class="pass-title">
                                    <h3>Forgot Password?</h3>
                                    <p>We sent an OTP on you email to reset your password.</p>
                                </div>
                                <form action="/forget-password" method="post" id="loginForm">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="alfa-form-group">
                                                <label for="Email">Email ID</label>
                                                <input type="text" class="form-input" name="email"
                                                    placeholder="Enter your Email ID" id="emailInput" required>
                                                <div id="emailError" style="color: red; display: none;">Please
                                                    enter a valid email address.</div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="user-button">
                                                <button type="submit" class="user-btn" id="login">Send OTP</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <%- include('includes/foot') %>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const emailInput = document.getElementById("emailInput");
                const emailError = document.getElementById("emailError");
                const loginForm = document.getElementById("loginForm");

                emailInput.addEventListener("input", function () {
                    const emailValue = emailInput.value;
                    if (validateEmail(emailValue)) {
                        emailError.style.display = "none";
                        document.getElementById("login").classList.add("user-btn-primary");
                    } else {
                        emailError.style.display = "block";
                        document.getElementById("login").classList.remove("user-btn-primary")
                    }
                });

                loginForm.addEventListener("submit", function (event) {
                    const emailValue = emailInput.value;
                    if (!validateEmail(emailValue)) {
                        emailError.style.display = "block";
                        event.preventDefault();
                    }
                });
                function validateEmail(email) {
                    const emailPattern = /^[A-Za-z0-9\._%+\-]+@[A-Za-z0-9\.\-]+\.[A-Za-z]{2,}$/;
                    return emailPattern.test(email);
                }
            });
        </script>
</body>

</html>