<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alfa Meanswear | Login</title>
    <meta name="robots" content="noindex">
    <%- include('includes/head') %>
</head>

<body>
    <div class="alfa-main-wraper">
        <%- include('includes/header') %>
        
        <div class="mt-100">
            <div class="user-container">
                <div class="user-banner-wrapper">
                    <div class="t-banner">
                        <img src="assets/images/loginimg.png" alt="">
                    </div>
                </div>
                <div class="user-main-wrapper">
                    <div class="alfa-user-wrap">
                        <div class="alfa-form-warpper">
                            <div class="alfa-user-title">
                                <h3>Login Your Account</h3>
                            </div>
                            <div class="user-login-option text-center">
                                <div class="option-text">
                                    <span>Continue with</span>
                                </div>
                                <div class="option-ul">
                                    <ul>
                                        <li>
                                            <a href="/auth/google"><img src="assets/images/google.png" alt=""></a>
                                        </li>
                                        <!-- <li>
                                            <a href="/auth/facebook"><img src="assets/images/fb.png" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="/auth/github"><img src="assets/images/github.png" alt=""> </a>
                                        </li> -->
                                    </ul>
                                </div>
                                <div class="user-else-option">
                                    <span>OR</span>
                                </div>
                            </div>
                            <div class="error-message" style="color: red;">
                                <% if (typeof error !=='undefined' ) { %>
                                    <p>
                                        <%= error %>
                                    </p>
                                    <% } %>
                            </div>
                            <div class="main-form">
                                <form action="/login" method="post" id="loginForm">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="alfa-form-group">
                                                <label for="Email">Email ID</label>
                                                <input type="text" class="form-input" name="email" id="emailInput" placeholder="Enter your Email ID">
                                                <div id="emailError" style="color: red; display: none;">Please enter
                                                    a valid email address.</div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="alfa-form-group position-relative">
                                                <label for="Password">Password</label>
                                                <input type="password" class="form-input" name="password" id="passwordView" placeholder="Enter your Password">
                                                <span id="onEyeClick"><i id="eyeView" class="fa-regular fa-eye-slash"></i></span>
                                            </div>
                                        </div>
                                        <div class="text-end user-forget">
                                            <a href="/forget-password">Forgot Password?</a>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="user-button">
                                                <button type="submit" class="user-btn" id="login">Login</button>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="user-about-account">
                                                <p>Don’t have an account <a href="/signup">Create your Account</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

     
    </div>
    <%- include('includes/foot') %>
    <script>
        var onEyeClick = document.getElementById("onEyeClick");
        var passwordView = document.getElementById("passwordView");
        var eyeView = document.getElementById("eyeView");

        onEyeClick.addEventListener('click', function () {
            if (passwordView.type == "text") {
                passwordView.type = "password";
                eyeView.classList.remove("fa-eye");
                eyeView.classList.add("fa-eye-slash");
            } else {
                passwordView.type = "text";
                eyeView.classList.remove("fa-eye-slash");
                eyeView.classList.add("fa-eye");
            }
        });
    </script>
</body>

</html>