<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alfa Meanswear | My Order</title>
    <%- include('includes/head') %>
</head>

<body>
    <div class="alfa-main-wraper">
        <%- include('includes/header') %>

            <div class="mt-100 mt-150">
                <div class="checkout-wrapper margin-160">
                    <div class="container">
                        <div class="checkout-title text-center">
                            <h3>Order History</h3>
                        </div>
                        <div class="containers mt-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="alfa-cart-items cart-right-wrap">
                                        <div class="cart-table">
                                            <div class="order-history-wrapper">


                                                <div class="history-wrappper position-relative">
                                                    <div class="history-wrap">
                                                        <div class="history-item">

                                                            <div class="history-left-wrap">


                                                                <div class="history-content">
                                                                    <div class="order-id">
                                                                        <a href="user-order-detail/80">
                                                                            <span class="idtxt">Order
                                                                                ID:</span>
                                                                            ALFA0001
                                                                        </a>
                                                                    </div>
                                                                    <h6>
                                                                        PENDING
                                                                    </h6>

                                                                    <div class="order-status">
                                                                        <div class="sts">Status: <span
                                                                                class="status-type success">
                                                                                DELIVERED
                                                                            </span> </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="history-links">
                                                                <a href="/user-order-detail/80">Order
                                                                    Detail</a>
                                                                <span>|</span>
                                                                <a href="">Buy again</a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="history-wrappper position-relative">
                                                    <div class="history-wrap">
                                                        <div class="history-item">

                                                            <div class="history-left-wrap">


                                                                <div class="history-content">
                                                                    <div class="order-id">
                                                                        <a href="user-order-detail/81">
                                                                            <span class="idtxt">Order
                                                                                ID:</span>
                                                                            ALFA0002
                                                                        </a>
                                                                    </div>
                                                                    <h6>
                                                                        PENDING
                                                                    </h6>

                                                                    <div class="order-status">
                                                                        <div class="sts">Status: <span
                                                                                class="status-type success">
                                                                                CANCELLED
                                                                            </span> </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="history-links">
                                                                <a href="/user-order-detail/81">Order
                                                                    Detail</a>
                                                                <span>|</span>
                                                                <a href="">Buy again</a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="history-wrappper position-relative">
                                                    <div class="history-wrap">
                                                        <div class="history-item">

                                                            <div class="history-left-wrap">


                                                                <div class="history-content">
                                                                    <div class="order-id">
                                                                        <a href="user-order-detail/82">
                                                                            <span class="idtxt">Order
                                                                                ID:</span>
                                                                            ALFA0003
                                                                        </a>
                                                                    </div>
                                                                    <h6>
                                                                        PENDING
                                                                    </h6>

                                                                    <div class="order-status">
                                                                        <div class="sts">Status: <span
                                                                                class="status-type success">
                                                                                ORDER PLACED
                                                                            </span> </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="history-links">
                                                                <a href="/user-order-detail/82">Order
                                                                    Detail</a>
                                                                <span>|</span>
                                                                <a href="">Buy again</a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="history-wrappper position-relative">
                                                    <div class="history-wrap">
                                                        <div class="history-item">

                                                            <div class="history-left-wrap">


                                                                <div class="history-content">
                                                                    <div class="order-id">
                                                                        <a href="user-order-detail/83">
                                                                            <span class="idtxt">Order
                                                                                ID:</span>
                                                                            ALFA0004
                                                                        </a>
                                                                    </div>
                                                                    <h6>
                                                                        PENDING
                                                                    </h6>

                                                                    <div class="order-status">
                                                                        <div class="sts">Status: <span
                                                                                class="status-type success">
                                                                                DELIVERED
                                                                            </span> </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="history-links">
                                                                <a href="/user-order-detail/83">Order
                                                                    Detail</a>
                                                                <span>|</span>
                                                                <a href="">Buy again</a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="history-wrappper position-relative">
                                                    <div class="history-wrap">
                                                        <div class="history-item">

                                                            <div class="history-left-wrap">


                                                                <div class="history-content">
                                                                    <div class="order-id">
                                                                        <a href="user-order-detail/84">
                                                                            <span class="idtxt">Order
                                                                                ID:</span>
                                                                            ALFA0005
                                                                        </a>
                                                                    </div>
                                                                    <h6>
                                                                        PENDING
                                                                    </h6>

                                                                    <div class="order-status">
                                                                        <div class="sts">Status: <span
                                                                                class="status-type success">
                                                                                ORDER PLACED
                                                                            </span> </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="history-links">
                                                                <a href="/user-order-detail/84">Order
                                                                    Detail</a>
                                                                <span>|</span>
                                                                <a href="">Buy again</a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="history-wrappper position-relative">
                                                    <div class="history-wrap">
                                                        <div class="history-item">

                                                            <div class="history-left-wrap">


                                                                <div class="history-content">
                                                                    <div class="order-id">
                                                                        <a href="user-order-detail/85">
                                                                            <span class="idtxt">Order
                                                                                ID:</span>
                                                                            ALFA0006
                                                                        </a>
                                                                    </div>
                                                                    <h6>
                                                                        PENDING
                                                                    </h6>

                                                                    <div class="order-status">
                                                                        <div class="sts">Status: <span
                                                                                class="status-type success">
                                                                                ORDER PLACED
                                                                            </span> </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="history-links">
                                                                <a href="/user-order-detail/85">Order
                                                                    Detail</a>
                                                                <span>|</span>
                                                                <a href="">Buy again</a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="history-wrappper position-relative">
                                                    <div class="history-wrap">
                                                        <div class="history-item">

                                                            <div class="history-left-wrap">


                                                                <div class="history-content">
                                                                    <div class="order-id">
                                                                        <a href="user-order-detail/86">
                                                                            <span class="idtxt">Order
                                                                                ID:</span>
                                                                            ALFA0007
                                                                        </a>
                                                                    </div>
                                                                    <h6>
                                                                        PENDING
                                                                    </h6>

                                                                    <div class="order-status">
                                                                        <div class="sts">Status: <span
                                                                                class="status-type success">
                                                                                DELIVERED
                                                                            </span> </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="history-links">
                                                                <a href="/user-order-detail/86">Order
                                                                    Detail</a>
                                                                <span>|</span>
                                                                <a href="">Buy again</a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="history-wrappper position-relative">
                                                    <div class="history-wrap">
                                                        <div class="history-item">

                                                            <div class="history-left-wrap">


                                                                <div class="history-content">
                                                                    <div class="order-id">
                                                                        <a href="user-order-detail/87">
                                                                            <span class="idtxt">Order
                                                                                ID:</span>
                                                                            ALFA0008
                                                                        </a>
                                                                    </div>
                                                                    <h6>
                                                                        PENDING
                                                                    </h6>

                                                                    <div class="order-status">
                                                                        <div class="sts">Status: <span
                                                                                class="status-type success">
                                                                                CANCELLED
                                                                            </span> </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="history-links">
                                                                <a href="/user-order-detail/87">Order
                                                                    Detail</a>
                                                                <span>|</span>
                                                                <a href="">Buy again</a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="history-wrappper position-relative">
                                                    <div class="history-wrap">
                                                        <div class="history-item">

                                                            <div class="history-left-wrap">


                                                                <div class="history-content">
                                                                    <div class="order-id">
                                                                        <a href="user-order-detail/88">
                                                                            <span class="idtxt">Order
                                                                                ID:</span>
                                                                            ALFA0009
                                                                        </a>
                                                                    </div>
                                                                    <h6>
                                                                        PENDING
                                                                    </h6>

                                                                    <div class="order-status">
                                                                        <div class="sts">Status: <span
                                                                                class="status-type success">
                                                                                ORDER PLACED
                                                                            </span> </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="history-links">
                                                                <a href="/user-order-detail/88">Order
                                                                    Detail</a>
                                                                <span>|</span>
                                                                <a href="">Buy again</a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="history-wrappper position-relative">
                                                    <div class="history-wrap">
                                                        <div class="history-item">

                                                            <div class="history-left-wrap">


                                                                <div class="history-content">
                                                                    <div class="order-id">
                                                                        <a href="user-order-detail/89">
                                                                            <span class="idtxt">Order
                                                                                ID:</span>
                                                                            ALFA0010
                                                                        </a>
                                                                    </div>
                                                                    <h6>
                                                                        PENDING
                                                                    </h6>

                                                                    <div class="order-status">
                                                                        <div class="sts">Status: <span
                                                                                class="status-type success">
                                                                                ORDER PLACED
                                                                            </span> </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="history-links">
                                                                <a href="/user-order-detail/89">Order
                                                                    Detail</a>
                                                                <span>|</span>
                                                                <a href="">Buy again</a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="history-wrappper position-relative">
                                                    <div class="history-wrap">
                                                        <div class="history-item">

                                                            <div class="history-left-wrap">


                                                                <div class="history-content">
                                                                    <div class="order-id">
                                                                        <a href="user-order-detail/90">
                                                                            <span class="idtxt">Order
                                                                                ID:</span>
                                                                            ALFA0011
                                                                        </a>
                                                                    </div>
                                                                    <h6>
                                                                        PENDING
                                                                    </h6>

                                                                    <div class="order-status">
                                                                        <div class="sts">Status: <span
                                                                                class="status-type success">
                                                                                ORDER PLACED
                                                                            </span> </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="history-links">
                                                                <a href="/user-order-detail/90">Order
                                                                    Detail</a>
                                                                <span>|</span>
                                                                <a href="">Buy again</a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="history-wrappper position-relative">
                                                    <div class="history-wrap">
                                                        <div class="history-item">

                                                            <div class="history-left-wrap">


                                                                <div class="history-content">
                                                                    <div class="order-id">
                                                                        <a href="user-order-detail/91">
                                                                            <span class="idtxt">Order
                                                                                ID:</span>
                                                                            ALFA0012
                                                                        </a>
                                                                    </div>
                                                                    <h6>
                                                                        PENDING
                                                                    </h6>

                                                                    <div class="order-status">
                                                                        <div class="sts">Status: <span
                                                                                class="status-type success">
                                                                                ORDER PLACED
                                                                            </span> </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="history-links">
                                                                <a href="/user-order-detail/91">Order
                                                                    Detail</a>
                                                                <span>|</span>
                                                                <a href="">Buy again</a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="history-wrappper position-relative">
                                                    <div class="history-wrap">
                                                        <div class="history-item">

                                                            <div class="history-left-wrap">


                                                                <div class="history-content">
                                                                    <div class="order-id">
                                                                        <a href="user-order-detail/92">
                                                                            <span class="idtxt">Order
                                                                                ID:</span>
                                                                            ALFA0013
                                                                        </a>
                                                                    </div>
                                                                    <h6>
                                                                        PENDING
                                                                    </h6>

                                                                    <div class="order-status">
                                                                        <div class="sts">Status: <span
                                                                                class="status-type success">
                                                                                ORDER PLACED
                                                                            </span> </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="history-links">
                                                                <a href="/user-order-detail/92">Order
                                                                    Detail</a>
                                                                <span>|</span>
                                                                <a href="">Buy again</a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="history-wrappper position-relative">
                                                    <div class="history-wrap">
                                                        <div class="history-item">

                                                            <div class="history-left-wrap">


                                                                <div class="history-content">
                                                                    <div class="order-id">
                                                                        <a href="user-order-detail/93">
                                                                            <span class="idtxt">Order
                                                                                ID:</span>
                                                                            ALFA0014
                                                                        </a>
                                                                    </div>
                                                                    <h6>
                                                                        PENDING
                                                                    </h6>

                                                                    <div class="order-status">
                                                                        <div class="sts">Status: <span
                                                                                class="status-type success">
                                                                                ORDER PLACED
                                                                            </span> </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="history-links">
                                                                <a href="/user-order-detail/93">Order
                                                                    Detail</a>
                                                                <span>|</span>
                                                                <a href="">Buy again</a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="history-wrappper position-relative">
                                                    <div class="history-wrap">
                                                        <div class="history-item">

                                                            <div class="history-left-wrap">


                                                                <div class="history-content">
                                                                    <div class="order-id">
                                                                        <a href="user-order-detail/94">
                                                                            <span class="idtxt">Order
                                                                                ID:</span>
                                                                            ALFA0015
                                                                        </a>
                                                                    </div>
                                                                    <h6>
                                                                        PENDING
                                                                    </h6>

                                                                    <div class="order-status">
                                                                        <div class="sts">Status: <span
                                                                                class="status-type success">
                                                                                ORDER PLACED
                                                                            </span> </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="history-links">
                                                                <a href="/user-order-detail/94">Order
                                                                    Detail</a>
                                                                <span>|</span>
                                                                <a href="">Buy again</a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="history-wrappper position-relative">
                                                    <div class="history-wrap">
                                                        <div class="history-item">

                                                            <div class="history-left-wrap">


                                                                <div class="history-content">
                                                                    <div class="order-id">
                                                                        <a href="user-order-detail/95">
                                                                            <span class="idtxt">Order
                                                                                ID:</span>
                                                                            ALFA0016
                                                                        </a>
                                                                    </div>
                                                                    <h6>
                                                                        PENDING
                                                                    </h6>

                                                                    <div class="order-status">
                                                                        <div class="sts">Status: <span
                                                                                class="status-type success">
                                                                                ORDER PLACED
                                                                            </span> </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="history-links">
                                                                <a href="/user-order-detail/95">Order
                                                                    Detail</a>
                                                                <span>|</span>
                                                                <a href="">Buy again</a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>


                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <%- include('includes/footer') %>
                <!-- End -->
    </div>
    <%- include('includes/foot') %>
</body>

</html>