<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alfa Meanswear | Privacy Policy</title>
    <%- include('includes/head') %>
</head>

<body>
    <div class="alfa-main-wraper">
        <%- include('includes/header') %>

            <div class="mt-100 mt-700">
                <div class="product-banner">
                    <div class="container">
                        <div class="hero-product-rows">
                            <div class="product-col-6">
                                <div class="breadcrubm-text">
                                    <h2>Privacy Policy</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start -->
                <section class="mt-80" style="margin-bottom:145px;">
                    <div class="privacy-policy-content">
                        <div class="text-center">
                            <p>Disclaimer: In the event of any discrepancy or conflict,<br>
                                the English version will prevail over the translation.</p>
                        </div>
                        <div class="container">
                            <div class="policy-content">
                                <div class="alfa-mt">
                                    <h5>1. Introduction</h5>
                                    <p>Alfa Menswear is committed to protecting and respecting your privacy. This
                                        Privacy Policy explains how we collect, use, and share your personal information
                                        when you visit or make a purchase from <a href="">www.alfa-menswear.com</a> (the
                                        “Website”). By using our Website, you agree to the collection and use of
                                        information in accordance with this policy.</p>
                                </div>
                                <div class="alfa-mt">
                                    <h5>2. Information We Collect</h5>
                                    <p>We collect various types of information in connection with the services we
                                        provide, including:</p>
                                    <ul>
                                        <li><strong> Information</strong>: When you make a purchase or attempt to make a
                                            purchase through the Website, we collect certain information from you,
                                            including your name, billing address, shipping address, payment information
                                            (including credit card numbers), email address, and phone number.</li>
                                        <li><strong>Device Information</strong>: When you visit the Website, we
                                            automatically collect certain information about your device, including
                                            information about your web browser, IP address, time zone, and some of the
                                            cookies that are installed on your device.</li>
                                        <li><strong>Order Information</strong>: We collect information related to your
                                            purchase history and order preferences.</li>
                                        <li><strong>Cookies and Tracking Technologies</strong>: We use cookies and
                                            similar tracking technologies to track the activity on our Website and hold
                                            certain information.</li>
                                    </ul>
                                </div>
                                <div class="alfa-mt">
                                    <h5>3. How We Use Your Information</h5>
                                    <p>We use the information we collect in various ways, including:</p>
                                    <ul>
                                        <li><strong> Process Transactions</strong>: To process your orders, manage
                                            payments, fees, and charges.</li>
                                        <li><strong> Communicate with You</strong>: To contact you regarding your
                                            orders, provide you with customer support, and send you updates or marketing
                                            communications.</li>
                                        <li><strong> Improve Our Services</strong>: To better understand how users
                                            interact with our Website, to enhance user experience, and to develop new
                                            products and services.</li>
                                        <li><strong>For Legal and Regulatory Compliance</strong>: To comply with legal
                                            obligations and to enforce our terms and conditions.</li>
                                    </ul>
                                </div>
                                <div class="alfa-mt">
                                    <h5>4. Sharing Your Information</h5>
                                    <p>We share your personal information with third parties to help us use your
                                        information as described above. For example:</p>
                                    <ul>
                                        <li><strong> Providers</strong>: We share your information with third-party
                                            service providers that perform services on our behalf, such as payment
                                            processors, shipping companies, and marketing services.</li>
                                        <li><strong>Business Transfers</strong>: If we merge with or are acquired by
                                            another company, your information may be transferred to the new owners.</li>
                                        <li><strong>Compliance with Laws</strong>: We may share your information to
                                            comply with applicable laws and regulations, to respond to a subpoena,
                                            search warrant or other lawful request for information we receive, or to
                                            otherwise protect our rights.</li>
                                    </ul>
                                </div>
                                <div class="alfa-mt">
                                    <h5>5. Data Security</h5>
                                    <p>We implement appropriate technical and organizational measures to protect your
                                        personal information against accidental or unlawful destruction, loss,
                                        alteration, unauthorized disclosure, or access. However, no method of
                                        transmission over the Internet, or method of electronic storage, is 100% secure.
                                    </p>
                                </div>
                                <div class="alfa-mt">
                                    <h5>6. Your Rights</h5>
                                    <p>Under UK data protection law, you have the following rights:</p>
                                    <ul>
                                        <li><strong>Access</strong> You have the right to request a copy of the personal
                                            information we hold about you.</li>
                                        <li><strong>Rectification</strong>: You have the right to request that we
                                            correct any information you believe is inaccurate or complete information
                                            you believe is incomplete.</li>
                                        <li><strong>Erasure</strong>: You have the right to request that we erase your
                                            personal information under certain conditions.</li>
                                        <li><strong>Restriction of Processing</strong>: You have the right to request
                                            that we restrict the processing of your personal information, under certain
                                            conditions.</li>
                                        <li><strong>Object to Processing</strong>: You have the right to object to our
                                            processing of your personal information, under certain conditions.</li>
                                        <li><strong>Data Portability</strong>: You have the right to request that we
                                            transfer the information we have collected to another organization, or
                                            directly to you, under certain conditions.</li>
                                    </ul>
                                </div>
                                <div class="alfa-mt">
                                    <h5>7. Retention</h5>
                                    <p>We implement appropriate technical and organizational measures to protect your
                                        personal information against accidental or unlawful destruction, loss,
                                        alteration, unauthorized disclosure, or access. However, no method of
                                        transmission over the Internet, or method of electronic storage, is 100% secure.
                                    </p>
                                </div>
                                <div class="alfa-mt">
                                    <h5>8. Changes to This Privacy Policy</h5>
                                    <p>We may update this Privacy Policy from time to time to reflect changes in our
                                        practices or for other operational, legal, or regulatory reasons. We will notify
                                        you of any changes by posting the new Privacy Policy on this page.</p>
                                </div>
                                <div class="alfa-mt">
                                    <h5>9. Contact Us</h5>
                                    <p>If you have any questions about this Privacy Policy, please contact us at:</p>
                                    <p>Email: sales@alfa-menswear.com</p>
                                    <p>Address: Alfa Menswear, 33 Westover Road, Bournemouth, Dorset, BH12BZ, United
                                        Kingdom</p>
                                    <p>By using our Website, you acknowledge that you have read and understood this
                                        Privacy Policy and agree to its terms.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End -->
                 
            </div>

            <!-- Footer -->
            <%- include('includes/footer') %>
                <!-- End -->
    </div>
    <%- include('includes/foot') %>
</body>

</html>