<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alfa Meanswear | Cookie Policy</title>
    <%- include('includes/head') %>
</head>

<body>
    <div class="alfa-main-wraper">
        <%- include('includes/header') %>

            <div class="mt-100 mt-700">
                <div class="product-banner">
                    <div class="container">
                        <div class="hero-product-rows">
                            <div class="product-col-6">
                                <div class="breadcrubm-text">
                                    <h2>Refund Policy </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start -->
                <section class="mt-80" style="margin-bottom:145px;">
                    <div class="privacy-policy-content">
                        <div class="container">
                            <div class="policy-content">

                                <div class="alfa-mt">
                                    <h5>1. Introduction</h5>
                                    <p>
                                        At Alfa Menswear, we strive to ensure that our customers are completely
                                        satisfied with their purchases. If for any reason you are not satisfied with
                                        your order, we offer a 14-day refund policy. This policy outlines the terms and
                                        conditions for returns and refunds.
                                    </p>
                                </div>
                                <div class="alfa-mt">
                                    <h5>2. Eligibility for Refunds</h5>
                                    <p>Cookies are small text files that are placed on your computer or mobile device
                                        when you visit a website. They help improve your experience by remembering your
                                        preferences and interactions. There are different types of cookies with various
                                        purposes.</p>
                                </div>
                                <div class="alfa-mt">
                                    <h5>3. Free In-Store Returns</h5>
                                    <ul>
                                        <li><strong>Return Process</strong>: You can return your items for free at any
                                            of our Alfa Menswear stores. Please bring your receipt or order confirmation
                                            email along with the items you wish to return.</li>
                                        <li><strong>Refund Processing </strong>: Refunds for in-store returns will take
                                            upto 7 working days. The refund will be issued to the original payment
                                            method</li>
                                    </ul>
                                </div>
                                <div class="alfa-mt">
                                    <h5>4. Online Returns</h5>
                                    <ul>
                                        <li>
                                            <strong>Return Process</strong>: If you choose to return items via mail, you
                                            will be responsible for the postage costs. Please follow these steps:
                                            <ul>
                                                <li>Contact our customer service team at sales@alfa-menswear.com to
                                                    initiate the return process and obtain a Return Authorization Number
                                                    (RAN).</li>
                                                <li>Pack the items securely in their original packaging, including the
                                                    receipt or order confirmation email, and clearly write the RAN on
                                                    the outside of the package.</li>
                                                <li>Mail the package to the address provided by our customer service
                                                    team.</li>
                                            </ul>
                                        </li>
                                        <li><strong>Refund Processing</strong> Once we receive your returned items and
                                            confirm they meet the eligibility criteria, we will process your refund
                                            within 14 days. The refund will be issued to the original payment method.
                                            Please note that postage costs for returns are non-refundable.</li>
                                    </ul>
                                </div>
                                <div class="alfa-mt">
                                    <h5>5. Exchanges</h5>
                                    <ul>
                                        <li><strong>In-Store Exchanges</strong> : You can exchange items for a different
                                            size or color at any of our Alfa Menswear stores. Please bring your receipt
                                            or order confirmation email along with the items you wish to exchange.</li>
                                        <li><strong>Online Exchanges</strong> Currently, we do not offer direct
                                            exchanges for online purchases. If you wish to exchange an item, please
                                            return the original item for a refund and place a new order for the desired
                                            item</li>
                                    </ul>
                                </div>
                                <div class="alfa-mt">
                                    <h5>6. Non-Returnable Items</h5>
                                    <p>Certain items are non-returnable for hygiene reasons, including but not limited
                                        to:</p>
                                    <ul>
                                        <li>Underwear</li>
                                        <li>Swimwear</li>
                                        <li>Socks</li>
                                    </ul>
                                </div>
                                <div class="alfa-mt">
                                    <h5>7. Faulty or Incorrect Items</h5>
                                    <p>If you receive a faulty or incorrect item, please contact our customer service
                                        team immediately at sales@alfa-menswear.com. We will provide instructions for
                                        returning the item and will cover the return postage costs. You will have the
                                        option to receive a refund or a replacement item.</p>
                                    <ul>
                                        <li>Access your personal data held by us.</li>
                                        <li>Request correction of any incorrect or incomplete data.</li>
                                        <li>Request deletion of your personal data.</li>
                                        <li>Object to the processing of your personal data.</li>
                                        <li>Request the restriction of processing your personal data.</li>
                                        <li>Request the transfer of your personal data to another party.</li>
                                    </ul>
                                </div>
                                <div class="alfa-mt">
                                    <h5>8. Contact Information</h5>
                                    <p>If you have any questions or need assistance with your return, please contact our
                                        customer service team at:</p>
                                </div>
                                <div class="alfa-mt">
                                    <p>Email: sales@alfa-menswear.com</p>
                                    <p>Address: Alfa Menswear, 33 Westover Road, Bournemouth, Dorset, BH12BZ, United
                                        Kingdom </p>
                                </div>
                                <div class="alfa-mt">
                                    <p>By purchasing from Alfa Menswear, you acknowledge that you have read and
                                        understood this 14-Day Refund Policy and agree to its terms.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End -->


            </div>

            <!-- Footer -->
            <%- include('includes/footer') %>
                <!-- End -->
    </div>
    <%- include('includes/foot') %>
</body>

</html>