<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alfa Meanswear | Term & Condition</title>
    <%- include('includes/head') %>
</head>

<body>
    <div class="alfa-main-wraper">
        <%- include('includes/header') %>
        
        <div class="mt-100 mt-700">
            <div class="product-banner">
                <div class="container">
                    <div class="hero-product-rows">
                        <div class="product-col-6">
                            <div class="breadcrubm-text">
                                <h1>Terms and condition</h1>
                            </div>
                        </div>
                     </div>
                </div>
              </div>
            <!-- Start -->
            <section class="mt-80" style="margin-bottom:145px;">
               <div class="privacy-policy-content">
                   <div class="container">
                    <div class="policy-content">
                        <div class="alfa-mt">
                           <h5>1. Introduction</h5>
                           <p>Welcome to Milton Menswear Ltd trading as Alfa Menswear. These Terms and Conditions outline the rules and regulations for the use of Alfa Menswear's website and services. By accessing this website, we assume you accept these terms and conditions in full. Do not continue to use Alfa Menswear's website if you do not accept all of the terms and conditions stated on this page.</p>
                        </div>
                        <div class="alfa-mt">
                            <h5>2. Definitions</h5>
                            <ul>
                                <li><strong>"Website"</strong> refers to Milton Menswear Ltd trading as Alfa Menswear online platform.</li>
                                <li><strong>"We", "Us", "Our"</strong> refer to Milton Menswear Ltd trading as Alfa Menswear.</li>
                                <li><strong>"You", "Your"</strong> refer to the user or customer of Alfa Menswear online platform.</li>
                            </ul>
                         </div>
                         <div class="alfa-mt">
                             <h5>Products and Services</h5>
                             <li>We offer a range of men's clothing and accessories including but not limited to shirts, jeans, trousers, t-shirts, suits, jackets, polo shirts, knitwear, belts, wallets, and shoes.</li>
                             <li>All descriptions of products or product pricing are subject to change at any time without notice, at the sole discretion of us.</li>
                             <li>We reserve the right to discontinue any product at any time.</li>
                         </div>
                         <div class="alfa-mt">
                            <h5>5. Orders and Payments</h5>
                            <li>All orders are subject to acceptance and availability.</li>
                            <li>Prices for our products are subject to change without notice.</li>
                            <li>Payment must be made at the time of placing the order. We accept major credit cards and other payment methods as stated on the website.</li>
                        </div>
                        <div class="alfa-mt">
                            <h5>6. Delivery</h5>
                            <li>We offer delivery services within the United Kingdom.</li>
                            <li>Delivery times may vary depending on your location and the availability of the products.</li>
                            <li>Any delivery dates provided are estimates only and we will not be liable for any delay in delivery of the products.</li>
                        </div>
                        <div class="alfa-mt">
                            <h5>7. Returns and Refunds</h5>
                            <li>You have the right to return products within 14 days from the date of receipt for a full refund or exchange, provided the products are in their original condition.</li>
                            <li>Refunds will be processed within 14 days of receiving the returned products.</li>
                            <li>Please note that return shipping costs are the responsibility of the customer unless the product is faulty or incorrect.</li>
                        </div>
                        <div class="alfa-mt">
                            <h5>8. Intellectual Property</h5>
                            <li>The content, layout, design, data, databases and graphics on this website are protected by United Kingdom and other international intellectual property laws and are owned by Alfa Menswear.</li>
                        </div>
                        <div class="alfa-mt">
                            <h5>9. Limitation of Liability</h5>
                            <li>•	To the fullest extent permitted by law, Alfa Menswear shall not be liable for any indirect, incidental, special, consequential or punitive damages, or any loss of profits or revenues, whether incurred directly or indirectly.</li>
                        </div>
                        <div class="alfa-mt">
                            <h5>10. Governing Law</h5>
                            <li>These Terms and Conditions are governed by and construed in accordance with the laws of the United Kingdom.</li>
                        </div>
                        <div class="alfa-mt">
                            <h5>11. Changes to Terms and Conditions</h5>
                            <li>We reserve the right to modify these terms and conditions at any time, so please review them frequently.</li>
                            <li>Changes and clarifications will take effect immediately upon their posting on the website.</li>
                        </div>
                        <div class="alfa-mt">
                            <h5>12. Contact Information</h5>
                            <li>Questions about the Terms and Conditions should be sent to us at sales@alfa-menswear.com.</li>
                        </div>
                        <p>By using our website, you agree to be bound by these Terms and Conditions. Thank you for shopping with Alfa Menswear.</p>
                     </div>
                  </div>
               </div>
            </section>
            <!-- End -->


        </div>
       
            <!-- Footer -->
            <%- include('includes/footer') %>
                <!-- End -->
    </div>
    <%- include('includes/foot') %>
</body>

</html>