<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alfa | Forget Password</title>
    <%- include('includes/head') %>
</head>

<body>
    <div class="alfa-main-wraper">
        <div class="mt-1000">
             <div class="user-password-steps">
                <div class="alfa-user-wrap">
                    <div class="user-back">
                        <a onclick="window.history.back()"><img src="assets/images/back.png" alt=""></a>
                    </div>
                </div>
                <div class="alfa-pass-container">
                    <div class="password-wrap">
                        <div class="pass-title">
                            <h3>Reset Password</h3>
                         </div>
                        <form action="/update-password" method="post">
                            <input type="hidden" name="email" value="<%=email %>">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="alfa-form-group position-relative">
                                        <label for="New Password">New Password</label>
                                        <input type="text" class="form-input" name="newPassword" id="passwordView" placeholder="Enter your New Password" required>
                                        <span id="onEyeClick"><img src="assets/images/eye.png" alt=""></span>
                                    </div>
                                </div>
                                 <div class="col-md-12">
                                    <div class="user-button">
                                        <button class="user-btn">Update Password</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
             </div>
        </div>
    </div>
    </div>
    <script>
        var onEyeClick = document.getElementById("onEyeClick");
        var  passwordView = document.getElementById("passwordView");
        onEyeClick.addEventListener('click',function(){
            if(passwordView.type == "text"){
              passwordView.type = "password"
            }
           else{
            passwordView.type = "text"
           }
        })
    </script>
</body>
</html>