<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alfa Meanswear |  User Guideline</title>
    <%- include('includes/head') %>
</head>

<body>
    <div class="alfa-main-wraper">
        <%- include('includes/header') %>

        <div class="mt-100 mt-700">
            <div class="product-banner">
                <div class="container">
                    <div class="hero-product-rows">
                        <div class="product-col-6">
                            <div class="breadcrubm-text">
                                <h2>User Guidlines</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start -->
            <section class="mt-80" style="margin-bottom:145px;">
                <div class="privacy-policy-content">
                    <div class="container">
                        <div class="policy-content">
                            <div>
                                <p>Welcome to Alfa Menswear. To ensure a pleasant and safe experience for all users,
                                    we have established the following guidelines. By using our website, you agree to
                                    comply with these guidelines.</p>
                            </div>
                            <div class="alfa-mt">
                                <h5>1. Account Creation and Security</h5>
                                <ul>
                                    <li><strong>Accurate Information</strong>: must provide accurate and complete
                                        information when creating an account.</li>
                                    <li><strong>Account Security</strong>: You are responsible for maintaining the
                                        confidentiality of your account information, including your password. Notify
                                        us immediately of any unauthorized use of your account.</li>
                                </ul>
                            </div>
                            <div class="alfa-mt">
                                <h5>2. Use of the Website</h5>
                                <ul>
                                    <li><strong>Personal Use</strong> : The Website is for personal use only. You
                                        may not use the Website for any commercial purpose without our prior written
                                        consent.</li>
                                    <li><strong>Prohibited Conduct:</strong> You may not engage in any of the
                                        following conduct:</li>
                                    <ol>
                                             <li>Using the Website in any way that violates any applicable laws or
                                                regulations.</li>
                                            <li>Uploading or transmitting any viruses, malware, or any other harmful
                                                code.</li>
                                            <li>Attempting to gain unauthorized access to any part of the Website,
                                                other accounts, or computer systems.</li>
                                            <li>Engaging in any activity that disrupts or interferes with the
                                                Website's functionality or security.</li>
                                            <li>Using the Website to send unsolicited or unauthorized advertising,
                                                spam, or other forms of solicitation.</li>
                                     </ol>
                                </ul>
                            </div>
                            <div class="alfa-mt">
                                <h5>3. Content and Intellectual Property</h5>
                                <ul>
                                    <li><strong>Ownership</strong>: All content on the Website, including text,
                                        graphics, logos, images, and software, is the property of Alfa Menswear or
                                        its content suppliers and is protected by intellectual property laws.</li>
                                    <li><strong>Limited License </strong>: You are granted a limited, non-exclusive,
                                        non-transferable license to access and use the Website for personal use. You
                                        may not copy, modify, distribute, sell, or lease any part of the Website
                                        without our prior written consent.</li>
                                </ul>
                            </div>
                            <div class="alfa-mt">
                                <h5>4. Purchasing Products</h5>
                                <ul>
                                    <li><strong>Eligibility</strong> : You must be at least the age of majority in
                                        your country or state of residence to make a purchase.</li>
                                    <li><strong>Product Information</strong> : We strive to provide accurate
                                        information about our products. However, we do not warrant that product
                                        descriptions or other content on the Website are accurate, complete,
                                        reliable, current, or error-free.</li>
                                    <li><strong>Order Acceptance</strong> : We reserve the right to refuse or cancel
                                        any order at any time for any reason, including but not limited to product
                                        availability, errors in product or pricing information, or suspected fraud.
                                    </li>
                                </ul>
                            </div>
                            <div class="alfa-mt">
                                <h5>5. Reviews and User Content</h5>
                                <ul>
                                    <li><strong>Submission</strong> : By submitting any content, including reviews,
                                        you grant us a non-exclusive, royalty-free, perpetual, irrevocable, and
                                        fully sublicensable right to use, reproduce, modify, adapt, publish,
                                        translate, create derivative works from, distribute, and display such
                                        content throughout the world in any media.
                                    </li>
                                    <li><strong>Prohibited Content</strong>: You may not submit any content that is:</li>
                                 </ul>
                                 <ol>
                                    <li>False, misleading, or deceptive.</li>
                                    <li>Offensive, abusive, or harmful.</li>
                                    <li>Infringing on the intellectual property rights of others.</li>
                                    <li>Containing viruses, malware, or other harmful code.</li>
                                </ol>
                            </div>
                            <div class="alfa-mt">
                                <h5>6. Privacy and Data Protection</h5>
                                <li><strong>Compliance</strong>: We comply with applicable data protection laws and our Privacy Policy, which explains how we collect, use, and protect your personal information.</li>
                                <li><strong>User Responsibility</strong>: You are responsible for maintaining the confidentiality of your personal information and for any activities that occur under your account.</li>
                            </div>
                            <div class="alfa-mt">
                                <h5>7. Reporting Violations</h5>
                                <li><strong>Contact Us</strong>: If you believe that a user has violated these guidelines, please contact us at sales@alfa-menswear.com.</li>
                                <li><strong>Investigation</strong>: We reserve the right to investigate and take appropriate action, including terminating or suspending accounts, against any user who violates these guidelines.</li>
                            </div>
                            <div class="alfa-mt">
                                <h5>8. Changes to Guidelines</h5>
                                <ul>
                                    <li><strong>Updates</strong>: We may update these guidelines from time to time. We will notify you of any changes by posting the new guidelines on this page. Your continued use of the Website after any changes indicates your acceptance of the new guidelines.</li>
                                </ul>
                            </div>
                            <div class="alfa-mt">
                                <h5>9. Contact Information</h5>
                                <ul>
                                    <li><strong>Questions</strong>: If you have any questions about these guidelines, please contact us at sales@alfa-menswear.com.</li>
                                </ul>
                                <p>By using our website, you agree to adhere to these User Guidelines. Thank you for being a part of the Alfa Menswear community.</p>
                            </div>
                        </div>
                    </div>
            </div></section>
            <!-- End -->


        </div>
            <!-- Footer -->
            <%- include('includes/footer') %>
                <!-- End -->
    </div>
    <%- include('includes/foot') %>
</body>

</html>