<div class="w-[250px] h-[100vh] bg-gray-200 fixed">
    <div class="bg-gray-100 text-center p-4">
        <span class="text-[28px] font-[600]"><img src="https://res.cloudinary.com/dj7wogsju/image/upload/v1737826570/alfa-logo_khfvui.png" class="w-[43px] mx-auto" alt=""></span>
    </div>
    <div class="mt-4 px-2">
        <div>
            <ul>
                <li class="mb-3">
                    <a href="/admin" class="flex items-center gap-1 font-[600]"><span><svg
                                xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                                viewBox="0 0 24 24">
                                <path fill="#a8a8a8"
                                    d="M13 9V3h8v6zM3 13V3h8v10zm10 8V11h8v10zM3 21v-6h8v6z" />
                            </svg></span> Dashboard</a></li>
                            <li class="mb-3"><a href="/admin/type-list" class="flex items-center gap-1 font-[600]"><span> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path fill="#a8a8a8" d="M11 13H5v-2h6V5h2v6h6v2h-6v6h-2z"/></svg>
                            </span> Type List</a></li>
                            <li class="mb-3"><a href="/admin/category-list" class="flex items-center gap-1 font-[600]"><span> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path fill="#a8a8a8" d="M11 13H5v-2h6V5h2v6h6v2h-6v6h-2z"/></svg>
                            </span> Category List</a></li>
                            <li class="mb-3"><a href="/admin/size-list" class="flex items-center gap-1 font-[600]"><span> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path fill="#a8a8a8" d="M11 13H5v-2h6V5h2v6h6v2h-6v6h-2z"/></svg>
                            </span> Sizes List</a></li>
                            <li class="mb-3"><a href="/admin/product-list" class="flex items-center gap-1 font-[600]"><span> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path fill="#a8a8a8" d="M11 13H5v-2h6V5h2v6h6v2h-6v6h-2z"/></svg>
                            </span> Product List</a></li>
                            <li class="mb-3"><a href="/admin/orders" class="flex items-center gap-1 font-[600]"><span> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path fill="#a8a8a8" d="M11 13H5v-2h6V5h2v6h6v2h-6v6h-2z"/></svg>
                            </span> Order List</a></li>
                            <li class="mb-3"><a href="/admin/contents/1" class="flex items-center gap-1 font-[600]"><span> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path fill="#a8a8a8" d="M11 13H5v-2h6V5h2v6h6v2h-6v6h-2z"/></svg>
                            </span> Contents</a></li>
            </ul>
        </div>
    </div>
</div>